﻿body {
}
*{
margin: 0px;
padding: 0px;
}
.content{
float: left;
width: 70%;
}
.content .item{
height: 100px;
margin: 10px;
background: #ccc;
}
.sidebar{
float: right;
width: 30%;
}
.sidebar .widget{
height: 100px;
margin: 10px;
background: #ccc;
}
 @media only screen and (max-width: 500px) {
            .content, .sidebar {
                float: none;
                width: 100%;
            }