﻿@model IEnumerable<LTM2_Buoi1.Models.Movie>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<script>
    function myFunction() {
        var timkiem =
            //$("#abc")
            //class="abc"; id=
            //document.getElementById("timkiem").value;
            $("#timkiem")[0]
            .value;
        var url = "http://localhost:49911/Movies/Index?searchString=" + timkiem;
        $("#ketqua").load(url);
        //document.location.href = url;
        //alert(url);

    }
</script>
<style>
    .col-sm-4 {
        padding:0px 10px;
        box-sizing:border-box;

    }
        .col-sm-4 span:nth-of-type(1) {padding-top:0px;padding-bottom:0px; padding-left:0px
        }
    .col-sm-4 span {
        width: 100%;
        padding:10px 0px;
        display: block;
        box-sizing:border-box;
        border-bottom:1px solid #805500;
        border-right:1px solid #805500;
        border-left:1px solid #805500;
        font-size: 130%;
        font-family: Arial;
        font-weight: bold;
        background-color:  #ccf5ff;
        padding-left:5px
    }
    .hinhanh img{width:100%; height: 200px;}
</style>
<h2>Index</h2>
<input type="text" id="timkiem" />
<button onclick="myFunction()">Timkiem</button>
<p>
    @Html.ActionLink("Create New", "Create")
</p>

<div  id="ketqua"></div>

{
    <p>
        Tieude: @Html.TextBox("Tieude") <br />
        Genre: @Html.DropDownList("Genre", (List<SelectListItem>)ViewBag.ListGenre)<br />

        @*<select id="Genre" name="Genre">
            <option value="1">fddfgf</option>
            <option value="2">dff</option>
        </select><br />*@

        Price: @Html.TextBox("Price") <br />
        <input type="submit" value="Filter" />
    </p>
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReleaseDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Genre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rated)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Picture)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReleaseDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Genre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Rated, new { htmlAttributes = new { @class = "rating" } })
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            <img width="50%" height="200" src="https://pbs.twimg.com/media/DI-z3cOXoAIaPPA.jpg" />
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}
</table>

<div class="container">
    <div class="row">
@foreach (var item in Model) {
        <div class="col-sm-4">
            <span class="hinhanh"><img src="https://pbs.twimg.com/media/DI-z3cOXoAIaPPA.jpg" /></span>
            <span>@Html.DisplayFor(modelItem => item.Title)</span>
            <span>@Html.DisplayFor(modelItem => item.ReleaseDate)</span>
            <span>@Html.DisplayFor(modelItem => item.Genre)</span>
            <span>@Html.DisplayFor(modelItem => item.Rated, new { htmlAttributes = new { @class = "rating" } })</span>
            <span>@Html.DisplayFor(modelItem => item.Price)</span>
@using (Html.BeginForm(null, null, FormMethod.Post, new { @enctype = "multipart/form-data" }))
{
    @Html.HiddenFor(model => model.ID)
}
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="MUA" class="btn btn-default" />
                </div>
            </div>
        </div>
}
    </div>
</div>